body{

    background-image: linear-gradient(270deg,rgba(173, 183, 159, 0.25), white) ;
}

h1{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 2px darkgrey;
     
}

div#middle{
    text-align: center;
    width: 100px;
    height: 100px;
    position:absolute;
    left: 17.5%;
    top: 15%;
    color: rgba(25, 13, 44, 0.589);

}

h1{

    text-align: center;
    background-image: linear-gradient(270deg,teal,black) ; 
    box-shadow: 7px 7px 7px rgb(131, 120, 120);
    width: 950px;
    height: 35px;
    padding: 25px;
    border-radius: 1em;
    color: floralwhite;
        
}

.menu ul{
    list-style: none;
    
}
.menu ul li{
    float: left;
    padding: 15px;
}

.menu ul li a{
    padding: 20px 70px;
    text-decoration: none;
    background-image: linear-gradient(270deg,teal, black) ; 
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style:groove;
    border-width: medium;
    border-color: cadetblue;
    margin: 10px;
    margin-right: 90px;
    color: white;
    width: 100px;
    position:relative;
    left: 400px;
    top: 200px;
}

.menu ul li a:hover{
    background-image: linear-gradient(90deg,green, silver) ;
    transition-duration: 0.5s;
    padding: 30px 80px;
}

button#logout{
    background-color: teal;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 15px;
    position: relative;
    top: -90px;
    left: 40em;
}
button#logout:hover{
    padding: 15px 25px; 
    transition-duration: 0.5s;
    background-image: linear-gradient(360deg,red, silver) ;
    
}
img{
    width: 50em;
    height: 60em;
    top: 0em;
    left: 0em;
}


