
body{
    font-family:'Roboto',sans-serif;
    background-image: linear-gradient(60deg,rgba(173, 183, 159, 0.25), white) ;

}

 
#s{
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    border-width: thick;
    position: relative;
    left: 200px;
    top: 0px;
    background-image: linear-gradient(290deg,rgba(70, 92, 139, 0.53),rgba(188, 215, 213, 0.72));
    padding:50px;
    margin: 15px;
    width:980px;
    height: 0px;
    color: black;

    line-height: 40px;
    font-weight: bold;
    font-size: 1.9em;
    text-align: center;

    list-style-type: none;

}

p{
float:right;
border-style: none;
position: relative;
bottom: 10px;

}

#lout{
  background-color:#e3e3e3 ;
  opacity: 0.9;
  cursor: pointer;
  border-top-color: white;
  border-bottom-color: white;
  border-right-color: white;
  border-left-color: white;
  opacity: 0.9;
  padding: 5px;
}

button{
  background-color: red;
  font-weight: bold;
  opacity: 0.9;
  cursor: pointer;
}

button:hover{
 opacity: 1.5;
}

th{
  padding: 20px;
 background-color: #277482;

}
td{
  padding: 20px;
}

table{
  position: relative;
  left: 100px;
  border-style: solid;
  border-color: black;
  width: 90%;
}

#baslik{
  position: relative;
 bottom: 25px;
}

#create{
  position: relative;
  left: 85%;
  top: 30px;
  padding: 15px;
  background-color:#278239 ;
  opacity: 0.9;
  color: white;
  cursor: pointer;
  }

#create:hover{
  opacity: 1;
}

#dwnld{
  float: right;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  position: relative;
  right: 50px;
}

