body{

    background-image: linear-gradient(270deg,rgba(173, 183, 159, 0.25), white) ;
}

h1{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 2px darkgrey;
     
}

div#middle{
    text-align: center;
    width: 100px;
    height: 100px;
    position:absolute;
    left: 17.5%;
    top: 15%;
    color: rgba(25, 13, 44, 0.589);

}

h1{

    text-align: center;
    box-shadow: 7px 7px 7px rgb(131, 120, 120);
    width: 900px;
    height: 35px;
    padding: 30px;
    background-image: linear-gradient(290deg,#304f50,#639fa1);
    color: white;
        
}

.menu ul{
    list-style: none;
    
}
.menu ul li{
    float: left;
    padding: 10px;
    text-align: center;
}

.menu ul li a{
    padding: 20px 65px;
    text-decoration: none;
    background-image: linear-gradient(180deg,#59a6a3, black) ; 
    display:block;
    border-style:groove;
    border-width: medium;
    border-color: cadetblue;
    margin: 10px;
    margin-right: 90px;
    color: white;
    width: 200px;
    position:relative;
    left: 300px;
    top: 250px;
}

.menu ul li a:hover{
    background-image: linear-gradient(90deg,#6dbab9,#3b7d7c ) ;
    transition-duration: 0.5s;
   
}

button#logout{
    padding: 10px 20px;
    font-size: 13px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 15px;
    float:right;
    position: relative;
    bottom: 100px;
}
button#logout:hover{ 
    transition-duration: 0.5s;
    background-image: linear-gradient(360deg,red, silver) ;
    
}
img{
    width: 50em;
    height: 60em;
    top: 0em;
    left: 0em;
}

